# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database files and instance directory
instance/
*.db
*.sqlite3

# Virtual environments
venv/
env/
ENV/

# OS-specific files
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
